body {
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body * {
    transition: all 0.3s ease-in-out;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.gap-2 {
    gap: 2rem;
}

.rtl {
    direction: rtl;
}

.w-full {
    width: 100%;
}

.w-80 {
    width: 80vw;
}

main,
.doc {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.doc {
    margin-bottom: 30vh;
}

.main *,
main * {
    transition: all 0.3s ease-in-out;
}

.home {
    width: 100%;
    height: 50vh;
    box-shadow: 0px 1px 7px 7px #00000010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.home .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 50vw;
}

.doc>* {
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.doc.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.divider {
    height: 3px;
    background-color: rgb(194, 190, 190);
    width: 90% !important;
    border-radius: 10px;
}

.title:not(.w-full, .w-80) {
    width: 25%;
    user-select: none;
}

app-root,
app-button {
    width: 100%;
    display: contents;
}

.closer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.closer .icon {
    height: 36px;
    aspect-ratio: 1/1;
    color: red;
    border-radius: 999999px;

}

.closer .icon:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-neutral-900);
        color: white;

        .home {
            box-shadow: 0px 1px 7px 7px #00000050;
        }
    }
}

.valued {
    width: 50px;
    user-select: none;
}

.side-nav-holder {
    height: 80vh;
    width: 80vw;
    display: flex;
    border: 1px solid var(--color-primary-300);
    border-radius: 8px;
}


.simulator {
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.simulator .header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    align-items: center;
    border: 1px solid var(--color-neutral-200);

    @media (prefers-color-scheme: dark) {
        border: 1px solid var(--color-neutral-600);
    }
}

.simulator .header .user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.simulator .body {
    padding: 1rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-neutral-200);
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
    flex-direction: column;


    @media (prefers-color-scheme: dark) {
        border: 1px solid var(--color-neutral-600);
    }
}

.simulator .body>span:nth-child(1) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    box-sizing: border-box;
    align-content: flex-start;
    align-items: center;
    grid-row: 1;
}

.simulator .body>span:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}


.simulator .body>span>*:not(eui-button) {
    height: fit-content;
    width: 23%;
}

.simulator .checkbox-boy {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.stepper-wrapper {
    display: flex;
    flex-direction: row;
    width: 70vw;
}

.stepper-wrapper.vertical {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 60vh;
}