body {
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body * {
    transition: all 0.3s ease-in-out;
}

main,
.doc {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.doc {
    margin-bottom: 30vh;
}

.main *,
main * {
    transition: all 0.3s ease-in-out;
}

.home {
    width: 100%;
    height: 50vh;
    box-shadow: 0px 1px 7px 7px #00000010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.home .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 50vw;
}

.doc>* {
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.doc.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.divider {
    height: 3px;
    background-color: rgb(194, 190, 190);
    width: 90% !important;
    border-radius: 10px;
}

.title {
    width: 25%;
    user-select: none;
}

app-root,
app-button {
    width: 100%;
    display: contents;
}

.closer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.closer .icon {
    height: 36px;
    aspect-ratio: 1/1;
    color: red;
    border-radius: 999999px;

}

.closer .icon:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-neutral-900);
        color: white;

        .home {
            box-shadow: 0px 1px 7px 7px #00000050;
        }
    }
}