.rotate {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.suggestion-list,
.chips-menu {
    background: var(--color-neutral-50);
    color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-500);
    border-radius: var(--radius-lg);
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    font-size: var(--font-paragraph-fontSize);
    font-weight: var(--font-paragraph-fontWeight);
    font-family: inherit;
    opacity: 0;
    transform: translateY(calc(var(--space-sm) * -1));
    transition: opacity var(--transition-fast), transform var(--transition-fast);

    &[style*="visibility: visible"] {
        opacity: 1;
        transform: translateY(0);
    }

    @media (prefers-color-scheme: dark) {
        background: var(--color-neutral-900);
        color: var(--color-neutral-50);
    }

    & li {
        padding: var(--space-lg) var(--space-xl);
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: var(--space-lg);

        &:hover {
            background: var(--color-secondary-300);
            color: var(--color-neutral-50);
        }

        & svg {
            fill: transparent !important;

        }

        &.selected-item {

            svg {
                fill: var(--color-neutral-900) !important;

                @media (prefers-color-scheme: dark) {
                    fill: var(--color-neutral-50) !important;
                }
            }
        }
    }
}

.icon-end {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .suggestion-list {
        background: var(--color-neutral-900);
        color: var(--color-neutral-50);
    }
}

.chips {
    position: relative;

    .chips-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-lg);
        box-sizing: border-box;

        .counter {
            z-index: 1;
            margin: var(--space-sm);
            margin-right: 3rem;
            color: var(--color-primary-400);
            background-color: var(--color-primary-100);
            border-radius: var(--radius-md);
            aspect-ratio: 1 / 1.2;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-sizing: border-box;

            &.active {
                border: 1px solid var(--color-primary-400);
            }

            @media (prefers-color-scheme: dark) {
                background-color: var(--color-primary-400);
                color: var(--color-primary-100);

                &.active {
                    border: 1px solid var(--color-primary-100);
                }
            }

        }
    }
}

.chips-box {
    display: flex;
    overflow: hidden;
    max-width: 60%;
    height: 100%;
    align-items: center;
    gap: var(--space-lg);
}

.chip-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.chip {
    z-index: 3;
    box-sizing: border-box;
    max-width: 9ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--color-secondary-100);
    color: var(--color-secondary-400);
    padding: var(--space-sm);
    border-radius: var(--radius-md);
    cursor: pointer;

    eui-icon {
        height: 100%;
        padding: .2rem;
        box-sizing: border-box;

        .icon-wrapper {
            aspect-ratio: 1 / 1;

            svg path {
                stroke: var(--color-secondary-400);
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        background-color: var(--color-secondary-400);
        color: var(--color-secondary-100);

        svg path {
            stroke: var(--color-secondary-100);
        }
    }
}

.chips-menu {
    display: flex;
    padding: var(--space-lg) var(--space-xl);
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: .5rem;

    .chip {
        max-width: unset;
    }
}