.tgl {
    position: relative;
    display: inline-flex;
    padding: var(--space-sm);
    gap: var(--space-sm);
    border-radius: var(--radius-full);
    background: var(--color-primary-300);

    @media (prefers-color-scheme: dark) {
        background-color: var(--color-primary-300);
    }

    .island {
        position: absolute;
        left: var(--space-sm);
        top: var(--space-sm);
        bottom: var(--space-sm);
        width: 0;
        border-radius: inherit;
        background: var(--color-neutral-100);
        transition:
            transform .28s cubic-bezier(.22, .8, .2, 1),
            width .28s cubic-bezier(.22, .8, .2, 1);
        z-index: 0;

        @media (prefers-color-scheme: dark) {
            background-color: var(--color-neutral-700);
        }
    }

    .item {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        font-size: var(--font-button-fontSize);
        font-weight: var(--font-button-fontWeight);
        gap: var(--space-md);
        padding: var(--space-md) var(--space-2xl);
        border-radius: inherit;
        user-select: none;
        cursor: pointer;
        transition: color .25s ease;
        color: var(--color-neutral-100);

        @media (prefers-color-scheme: dark) {
            color: var(--color-neutral-700);
        }

        &.selected {
            color: var(--color-primary-300);
        }

    }

    &.tgl--disabled {
        background-color: var(--color-neutral-300);

        @media (prefers-color-scheme: dark) {
            background-color: var(--color-neutral-700);
        }

        .island {
            background-color: var(--color-neutral-200);

            @media (prefers-color-scheme: dark) {
                background-color: var(--color-neutral-600);
            }
        }

        .item {
            color: var(--color-neutral-200);

            @media (prefers-color-scheme: dark) {
                color: var(--color-neutral-900);
            }

            &:hover {
                cursor: default;
            }

            &.selected {
                color: var(--color-neutral-300);

                @media (prefers-color-scheme: dark) {
                    color: var(--color-neutral-500);
                }
            }
        }
    }

}