.date-context-menu {
    background: var(--color-neutral-50);
    color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-500);
    border-radius: var(--radius-lg);
    list-style: none;
    margin: 0;
    position: absolute;
    padding: 0;
    overflow-y: auto;
    font-size: var(--font-paragraph-fontSize);
    font-weight: var(--font-paragraph-fontWeight);
    font-family: inherit;
    opacity: 0;
    transform: translateY(calc(var(--space-sm) * -1));
    transition: opacity var(--transition-fast), transform var(--transition-fast);

    &[style*="visibility: visible"] {
        opacity: 1;
        transform: translateY(0);
    }

    .eui--mntcard {
        border: unset !important;

        background-color: var(--color-neutral-10);

        @media (prefers-color-scheme: dark) {
            background-color: var(--color-neutral-900);
        }
    }

    eui-decade-card {
        .decade-grid {
            padding-top: var(--space-lg);
        }
    }

    .date-container {
        display: flex;
        flex-direction: column;

        .topbar {
            display: grid;
            align-items: center;
            gap: var(--space-2xl);
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            padding: var(--space-2xl) var(--space-3xl);
            padding-bottom: var(--space-lg);

            &>* {
                font-size: var(--font-h5-fontSize);
                font-weight: var(--font-h5-fontWeight);
                padding: var(--space-lg);
                border-radius: var(--radius-lg);    

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-neutral-100);

                    @media (prefers-color-scheme: dark) {
                        background-color: var(--color-neutral-700);
                    }
                }
            }
        }
    }
}

.icon-end {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .date-context-menu {
        background: var(--color-neutral-900);
        color: var(--color-neutral-50);
    }
}