.rotate {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.suggestion-list {
  background: var(--color-neutral-50);
  color: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-500);
  border-radius: var(--radius-lg);
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  font-size: var(--font-paragraph-fontSize);
  font-weight: var(--font-paragraph-fontWeight);
  font-family: var(--font-paragraph-fontFamily);
}

.suggestion-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background: var(--color-secondary-300);
  color: var(--color-neutral-50);
}

@media (prefers-color-scheme: dark) {
  .suggestion-list {
    background: var(--color-neutral-900);
    color: var(--color-neutral-50);
  }
}