:host {

    .input,
    .icon-bar {
        display: block;
        background-color: inherit;
        color: inherit;
    }
}

.input-wrapper {
    position: relative;

    .input {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
        border: 1px solid var(--color-neutral-500);
        border-radius: var(--radius-lg);
        background-color: var(--color-neutral-50);
        background-color: inherit;
        color: var(--color-neutral-800);
        transition: all 0.2s ease;

        input {
            font-size: var(--font-form-fontSize);
            font-weight: var(--font-form-fontWeight);
            font-family: var(--font-form-fontFamily);
            background-color: transparent;
            padding: var(--space-xl) var(--space-2xl);
            border: none;
            color: inherit;
            width: 100%;

            &:focus-visible {
                outline: none !important;
                caret-color: var(--color-primary-300);
            }
        }

        &:has(input:focus-visible) {
            border-color: var(--color-primary-300);
        }

        &.danger {
            border-color: var(--color-danger-300);
        }

        &.success {
            border-color: var(--color-success-300);
        }

        .icon-bar {
            position: absolute;
            top: 2px;
            right: 2px;
            height: calc(100% - 4px);
            display: flex;
            align-items: center;
            background-color: inherit;
            color: inherit;
            padding-right: var(--space-lg);
            background-color: inherit;

            eui-icon {
                border-radius: var(--radius-md);
                cursor: pointer;
                padding: var(--space-lg);
                box-sizing: border-box;
                height: 100%;

                &:hover {
                    color: var(--color-neutral-800);
                }
            }

            &.hide {
                &>* {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    .alert {
        position: absolute;
        top: calc(100% + var(--space-sm));
        left: var(--space-sm);
        display: inline-flex;
        align-items: center;
        gap: var(--space-md);
        font-size: var(--font-caption-fontSize);
        font-weight: var(--font-caption-fontWeight);
        font-family: var(--font-caption-fontFamily);

        &.danger {
            color: var(--color-danger-300);
        }

        &.success {
            color: var(--color-success-300);
        }

        .alert-text {
            margin: unset;
        }

        eui-icon {
            width: 1em;
            height: 1em;
        }
    }

    @media (prefers-color-scheme: dark) {
        .input {
            background-color: var(--color-neutral-900);
            color: var(--color-neutral-100);

            .icon-bar {
                background-color: inherit;
                color: inherit;

                eui-icon {
                    color: var(--color-neutral-300);

                    &:hover {
                        color: var(--color-neutral-100);
                    }
                }
            }
        }
    }
}