.rotate {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.suggestion-list {
    background: var(--color-neutral-50);
    color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-500);
    border-radius: var(--radius-lg);
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    font-size: var(--font-paragraph-fontSize);
    font-weight: var(--font-paragraph-fontWeight);
    font-family: inherit;
    opacity: 0;
    transform: translateY(calc(var(--space-sm) * -1));
    transition: opacity var(--transition-fast), transform var(--transition-fast);

    &[style*="visibility: visible"] {
        opacity: 1;
        transform: translateY(0);
    }

    & li {
        padding: var(--space-lg) var(--space-xl);
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: var(--space-lg);

        &:hover {
            background: var(--color-secondary-300);
            color: var(--color-neutral-50);
        }

        & svg {
            fill: transparent !important;

        }

        &.selected-item {

            svg {
                fill: var(--color-neutral-900) !important;

                @media (prefers-color-scheme: dark) {
                    fill: var(--color-neutral-50) !important;
                }
            }
        }
    }
}

.icon-end {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .suggestion-list {
        background: var(--color-neutral-900);
        color: var(--color-neutral-50);
    }
}