.dlg {
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;

    @media (prefers-color-scheme: dark) {
        border-color: var(--color-neutral-500);
    }

    .dlg--header {
        padding: var(--space-2xl) var(--space-3xl);
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
        font-size: var(--font-h3-fontSize);
        font-weight: var(--font-h3-fontWeight);
        font-family: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-lg);

        eui-icon {
            width: var(--space-4xl);
            aspect-ratio: 1/1;
        }

        .header-value {
            text-wrap-mode: nowrap;
        }
    }

    &.dlg--primary>.dlg--header {
        background-color: var(--color-primary-300);
    }

    &.dlg--info>.dlg--header {
        background-color: var(--color-info-300);
    }

    &.dlg--danger>.dlg--header {
        background-color: var(--color-danger-300);
    }

    &.dlg--success>.dlg--header {
        background-color: var(--color-success-300);
    }

    &.dlg--warning>.dlg--header {
        background-color: var(--color-warning-300);
    }

    .dlg--body {
        padding: var(--space-xl);
        font-size: var(--font-paragraph-fontSize);
        font-weight: var(--font-paragraph-fontWeight);
        font-family: inherit;
    }

    .dlg--footer>div[slot="footer"] {
        display: flex;
        flex-direction: row-reverse;
        padding: var(--space-xl);
        gap: var(--space-xl);
    }
}