/**
*
*	Name:			Yekan Bakh Fonts
*	Version:			3.1
*	Author:			Reza Bakhtiarifard, Majan Jafarzadeh
*	Created on:		Oct 2024
*	Updated on:		Oct 2024
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت یکان‌بخ یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Yekan Bakh fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
  font-family: "Yekan Bakh";
  src: url("./fonts/YekanBakhNoEn-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 950;
  font-stretch: 50% 150%;
  font-display: swap;
  unicode-range: U+0600-06FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: "Hubot Sans";
  src: url("./fonts/HubotSans[slnt,wdth,wght].woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
  unicode-range: U+0000-00FF;
}